<%= javascript 'ruby_gems' %>
<div id='gem'>
	<h1><%= @ruby_gem.name.capitalize %></h1>
  <p id='authors'><%= @ruby_gem.info['authors']%></p>
  <%= @ruby_gem.info['info']%><br />
  <ul>
    <% if @ruby_gem.info['homepage_uri'].present?%>
      <li><%= link_to "Homepage", @ruby_gem.info['homepage_uri'], :target => :blank%></li>
    <%end%>

    <% if @ruby_gem.info['source_code_uri'].present?%>
      <li><%= link_to "Source code", @ruby_gem.info['source_code_uri'], :target => :blank%></li>
    <%end%>
  </ul>
  <div class='clear'></div>
</div>
	<h2>Tutorials</h2>
	<%= render :partial => "tutorials/tutorials", :locals => {:tutorials => @ruby_gem.tutorials}%>
