<% javascript 'preview' %>
<div id='preview' class='pull-right'>
  <h2 class='live blue'>Live preview</h2>
  <div class='preview' id='tutorial_preview'><%= markdown (@tutorial.body.to_s) %></div>
</div>
<div id='tutorial_form'>
  <%= form_for @tutorial, :html => {:class=> "form"} do |f| %>
    <%= f.error_messages %>
    <p>

    <h3 class='blue'>
      Title
    </h3>

    <%= f.text_field :title, :class=>'span7'%>

    <h3 class='blue'>
      Gems in this tutorial
    </h3>

    <p>
    <%= f.text_field :ruby_gem_tokens, "data-pre" => @tutorial.ruby_gems.map(&:attributes).to_json %>
    </p>

    <p class='pull-right'>
    <%= render 'markdown'%>
    </p>

    <h3 class='blue'>
      Body
    </h3>

    <p>
      <%= f.text_area :body, :class=> 'span7', :rows=> 15%>
    </p>

    <p>
    <h3 class='blue'> Repo link / source code</h3>
    <%= f.text_field :repo_link, placeholder: 'http://github.com/user/repo' %>
    </p>
    <p>
    <%= f.file_field :source_code %>
    </p>

    <p>
    <h3 class='blue'> Estimated time </h3>
    <%= f.select :estimated_time, Tutorial::ESTIMATED_TIMES %>
    </p>

    <p><%= f.submit :class => "btn large  success span7" %></p>
  <% end %>
</div>
<div class='clear'></div>

