<div>

  <% tutorials.each do |tutorial|%>
    <div class='general_info'>
      <div class='main'>
        <div id='points'>
          <p>
            <%= tutorial.points.size %> 
          </p>
            <% if add_point? tutorial%>
              <%= link_to 'Add', add_point_tutorial_path(tutorial), method: 'put'%>
            <% end %>
   
        </div>


        <h1><%= link_to tutorial.title, tutorial %></h1>
        <p>
      </div>
      <div class='tags right_tags pull-right'>
        <div class='tag'><%= link_to tutorial.user.name, tutorial.user%></div>
      </div>
      <div class='tags left_tags'>
        <% tutorial.ruby_gems.each do |ruby_gem|%>
          <div class='tag'><%= link_to ruby_gem.name, ruby_gem_path(ruby_gem) %></div>
        <%end%>
        </p>
      </div>
      <% if clear_after_tutorial? %>
        <div class='clear'></div>
      <% end %>

    </div>
  <% end %>
</div>
