<div id='side' class='span4 pull-right'>
  <h3>Top Tutorials</h3>
  <ul>
    <% top_tutorials.each do |tutorial|%>
      <li>
      <%= link_to tutorial.title, tutorial%><br />
      <p><%= tutorial.ruby_gems_names.join(", ")%></p>
      </li>
    <%end%>
  </ul>

  <h3>Top Ruby Gems</h3>
  <ul>
    <% top_ruby_gems.each do |gem|%>
      <li> <%= link_to gem.name, gem%></li>
    <%end%>
  </ul>

  <h3>Top Users</h3>
  <ul>
    <% top_users.each do |user|%>
      <li> <%= link_to user.name, user%> </li>
    <%end%>
  </ul>
</div>

<div class='span12 pull-left'>
  <div class='hero-unit' id='billboard'>
    <h2> Welcome home,</h2>
    <h1> This is Nerdgem</h1>
    <ul>
      <li><h4 class='blue'>The best way to share your Ruby wisdom.</h4></li>
      <li><h4 class='blue'>You will find social Ruby knowledge and more.</h4></li>
    </ul>
  </div>
  <%= render :partial => 'tutorials', :locals =>{ :tutorials => @tutorials} %>
</div>

