


<div class="admin_lnks">
  <%= link_to "Edit", edit_tutorial_path(@tutorial) %> |
  <%= link_to "Destroy", @tutorial, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", tutorials_path %>
</div>

<h1><%= @tutorial.title %></h1>
<p>
<%= RedCloth.new(@tutorial.formated_body).to_html.html_safe %>
</p>

