<div>
<div class="admin_links code">
  <%if can? :manage, @tutorial%>
    <%= link_to "Edit", edit_tutorial_path(@tutorial) %> 
    <%= link_to "Destroy", @tutorial, :confirm => 'Are you sure?', :method => :delete %> 
  <%end%>
  <%= link_to "View All", tutorials_path %>
</div>
<h1><%= @tutorial.title %></h1>
<%= markdown( @tutorial.formated_body ) %>
</div>
