
<div id= 'side' class='span4 pull-right'>
  <h3>Related Tutorials</h3>
  <ul>
    <% @tutorial.related_tutorials.uniq.each do |tutorial|%>
      <li>
      <%= link_to tutorial.title, tutorial%><br />
      <p><%= tutorial.ruby_gems_names.join(", ")%></p>
      </li>
    <%end%>
  </ul>
</div>

<div class='span12'>
  <%= render :partial => 'tutorials', :locals=>{:tutorials => [@tutorial]}%>

  <div id='tutorial'>
    <div class='extra_info'>

      <div class='pull-right'>
        <% if can? :manage, @tutorial%>
          <%= link_to "Edit", edit_tutorial_path(@tutorial), :class=> 'btn info' %> 
          <%= link_to "Delete", @tutorial, :confirm => 'Are you sure?', :method => :delete, :class=> 'btn danger' %> 
        <% end %>
      </div>

      <p><b>Estimated time: </b><%= @tutorial.estimated_time%></p>
      <% if @tutorial.repo_link? %>
        <%= link_to 'Code repository', @tutorial.repo_link, :class=> 'btn info', :target => '_blank'%>
      <% end%>
      <% if @tutorial.source_code? %>
        <%= link_to 'Download the source code!', @tutorial.source_code_url.to_s, :class=> 'btn success'%>
      <% end%>
    </div>
    <%= markdown( @tutorial.formated_body) %>
  </div>

</div>
<div class='clearfix'></div>
