<div id="header" class='row show-grid'>

  <div class="topbar">
    <div class="fill">
      <div class="container">
        <ul class="nav">
          <li id='main_logo'>
          <%= link_to (image_tag 'logo_no_gem.png', height: '33px'), root_path, :class => 'brand' %>
          </li>
          <li><%=link_to "Home", tutorials_path%></li>
          <li><%=link_to "Tutorials", tutorials_path, :id=>"tutorials"%></li>
          <% if current_user%>
            <li><%=link_to "New tutorial", new_tutorial_path%></li>
          <%end %>
          <li><%=link_to "About", hello_path %></li>
        </ul>
        <div class='pull-right'>
          <%= form_tag find_tutorials_path, :method => 'get', :id => 'search_form' %>
          <%= text_field_tag :q, "", :placeholder=>"Find knowledge", :value => params[:q], :id => 'search_q' %>
        </form>
        <ul>
          <% if current_user%>
            <li><%= link_to (image_tag current_user.image,  width: '23', class: 'pull-right' ), current_user,%></li>
            <li> <%= link_to current_user.pretty_name, current_user %> </li>
            <li><%= link_to "Sign out", destroy_user_session_path%></li>
            </li>

          <%else%>
            <li><%= link_to "Sign in with Github", "/auth/github", :id =>"github_link" %></li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>

</div>

<div class='span4 offset4'>
  <% if current_user%>
    <div id='session_links'>
      <%= link_to "Profile", edit_user_path(current_user)%>
      <%= link_to "Sign out", destroy_user_session_path%>
    </div>
  <%else%>
    <div class="sign_in_with_github lighter">
      <%= link_to "Sign in with Github", "/auth/github", :id =>"github_link" %>
    </div>
  <%end%>
</div>
    </div>
