<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Nerdgem" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
    <script type="text/javascript">
      var uvOptions = {};
(function() {
 var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
 uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/13XzFWh6AtwpnS4Phk0QA.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
 })();
</script>

  </head>

  <body id="<%= params[:controller].parameterize %>">  
    <div class="container" id="main-wrapper">

    <%= render 'layouts/header' %>

    <div id="content" class="span16">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :class => notice_trans(name) %>
      <% end %>

      <div id='title'>
        <%= content_tag :h1, yield(:title) if show_title? %>
      </div>
      <%= yield %>
    </div>

  </div>
  <div id='push'></div>
  <%= render 'layouts/footer'%>

</body>
</html>


