<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body id="<%= params[:controller].parameterize %>">  
    <div id="container">

      <div id="header">
        <%=link_to "Nerdgem", root_path, :class=> "logo"%>
        <h1>Social Ruby wisdom and more...</h1>
        <div id="navigation">
          <ul>
            <li><%=link_to "Home", tutorials_path%></li>
            <li><%=link_to "Tutorials", tutorials_path, :id=>"tutorials"%></li>
            <li><%=link_to "New tutorial", new_tutorial_path%></li>
          </ul>
        </div>

      </div>

      <div id="content">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>

        <%= content_tag :h1, yield(:title) if show_title? %>
        <%= yield %>
      </div>
      <div id="footer">
        <p>Nerd Gem</p>
      </div>
    </div>
  </body>
</html>


